//---------------------------------------------------------
//  #Grid
//---------------------------------------------------------

$gutters: (
        0: 0,
        5: 5,
        10: 10,
        15: 15,
);

$grid-widths: (
        20: 20%,
        25: 25%,
        30: 30%,
        33: 33.3333%,
        50: 50%,
        75: 75%,
        100: 100%,
);

@each $classname, $size in $gutters {
  .l-grid-#{$classname} {
    @include group;
    margin-left: -#{$size}px !important;
    padding: 0;
    list-style: none;

    > div, > li {
      padding-left: #{$size}px !important;
      padding-bottom: #{$size}px;
    }
  }
}

@each $classname, $size in $grid-widths {
  .l-grid__item-#{$classname} {
    display: inline-block;
    vertical-align: top;
    float: left;
    width: #{$size};
  }
}

@each $classname, $size in $grid-widths {
  .l-grid__item-phone-#{$classname} {
    @include media-query(phone) {
      display: inline-block;
      vertical-align: top;
      float: left;
      width: #{$size};
    }
  }
}

@each $classname, $size in $grid-widths {
  .l-grid__item-phablet-#{$classname} {
    @include media-query(phablet) {
      display: inline-block;
      vertical-align: top;
      float: left;
      width: #{$size};
    }
  }
}