//---------------------------------------------------------
//  #Spacing
//---------------------------------------------------------

// Handle padding and margins

//---------------------------------------------------------
//  Padding
//---------------------------------------------------------

// All

.l-inset {
  padding: 30px 15px;
}

.l-inset-xms {
  padding: 15px;
}

// Top

.l-inset-xxxxl-top {
  padding-top: 140px;
}

.l-inset-xxxl-top {
  padding-top: 80px;
}

.l-inset-xl-top {
  padding-top: 60px;
}

.l-inset-m-top {
  padding-top: 40px;
}

.l-inset-xs-top {
  padding-top: 20px;
}

.l-inset-xxs-top {
  padding-top: 10px;
}

// Bottom

.l-inset-m-btm {
  padding-bottom: 40px;
}

// Left

.l-inset-xxs-left {
  padding-left: 10px;
}

//---------------------------------------------------------
//  Margin
//---------------------------------------------------------

// Top

.l-offset-l-top {
  margin-top: 50px;
}

.l-offset-m-top {
  margin-top: 40px !important;
}

.l-offset-s-top {
  margin-top: 30px;

  @media screen and (max-height: 510px) {
    margin-top: 20px !important;
  }
}

.l-offset-xs-top {
  margin-top: 20px !important;
}

.l-offset-xxs-top {
  margin-top: 10px;
}

.l-offset-xxxs-top {
  margin-top: 5px !important;
}


// Bottom

.l-offset-xxl-btm {
  margin-bottom: 70px !important;
}

.l-offset-xl-btm {
  margin-bottom: 60px;
}

.l-offset-l-btm {
  margin-bottom: 50px;
}

.l-offset-m-btm {
  margin-bottom: 40px;
}

.l-offset-s-btm {
  margin-bottom: 30px !important;

  @media screen and (max-height: 510px) {
    margin-bottom: 20px !important;
  }
}

.l-offset-xs-btm {
  margin-bottom: 20px;

  @media screen and (max-height: 510px) {
    margin-bottom: 10px !important;
  }
}

.l-offset-xms-btm {
  margin-bottom: 15px;
}

.l-offset-xxs-btm {
  margin-bottom: 10px;
}

.l-offset-xxxs-btm {
  margin-bottom: 5px;
}


// Left

.l-offset-l-left {
  margin-left: 50px;
}

.l-offset-m-left {
  margin-left: 40px;
}

.l-offset-xs-left {
  margin-left: 20px;
}

.l-offset-xxs-left {
  margin-left: 10px;
}


// right

.l-offset-xl-right {
  margin-right: 60px;
}

.l-offset-xs-right {
  margin-right: 20px !important;
}

.l-offset-xxxs-right {
  margin-right: 5px !important;
}
